{% load static %}

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="{% static 'images/kglogo.png' %}" alt="KGISL Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">KGISL</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'images/user_login.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block" style="text-transform: capitalize;">{{user.username}}</a>
            </div>
        </div>
        
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Menu</li>
                <li class="nav-item side_bar_bg">
                    <a href="{% url 'info_data:home_page' %}" class="nav-link">
                        <i class="nav-icon fas fa-users nav-icon"></i>
                        <p class="menu_name">
                            Contact List
                        </p>
                    </a>
                </li>
                <li class="nav-item side_bar_bg">
                    <a href="{% url 'info_data:create_record' %}" class="nav-link">
                        <i class="nav-icon fas fa-plus-circle nav-icon"></i>
                        <p class="menu_name">
                            Create Contact
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

